@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom right, #3b3c4e, #4b4c61, blue);
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.shadow-form {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  width: 900px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.shadow-form h1 {
  text-align: left;
  margin-top: 0;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.5;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.shadow-form p {
  text-align: left;
  font-size: 24px;
  margin-top: 20px;
}

.shadow-form p:first-child {
  margin-top: 0;
}

.shadow-form p:last-child {
  margin-bottom: 0;
}

.shadow-form .progress-label {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 10px;
}

.shadow-form .progress-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.cs {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 20px;
}

.rotate {
  transform: rotate(360deg);
  transition: transform 1s;
}

.progress {
  position: relative;
  width: 700px;
  height: 30px;
  margin: 15px 0;
  border-radius: 20px;
  background-color: #d8d8d8;
}

.progress-done {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(to left, #F2709C, #FF9472);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transition: width 1s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
}





.cs img {
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


.progress-done:hover {
  opacity: 1;
}

.progress-done:hover:before {
  opacity: 0.9;
}



.heart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #87CEFA; /* light blue */
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}


.current-time {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin: 10px 0;
  } 


.heart-button:hover {
  background-color: navy;
}

.heart-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.5);
}

.heart-button svg {
  width: 2rem;
  height: 2rem;
  fill: white;
  margin-right: 1rem;
}



  @media screen and (max-width: 350px) {
    .progress {
      height: 20px;
    }
    
    .progress-done {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 768px) {
    .progress {
      max-width: 500px;
    }
    
    .shadow-form {
      max-width: 600px;
    }
  }

  @media screen and (max-width: 576px) {
    .progress {
      max-width: 300px;
    }
    
    .shadow-form {
      max-width: 400px;
    }
  }

  @media screen and (max-width: 414px) {
    .progress {
      max-width: 250px;
    }
    
    .progress-done {
      font-size: 10px;
    }
  }

